<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
            友情链接：<a target="_blank" href="http://www.iampua.com/">泡学达人</a> | <a target="_blank" href="http://www.a4z.cn/">A4纸尺寸</a> | <a target="_blank" href="http://www.cnblogs.com/fastmover/">我的cnblog</a> | <a target="_blank" href="mailto:kbl_1794@qq.com" rel="nofollow">联系博主</a>
    	    <br>
    	    <br>    	
    		Copyright &copy; 2015-<%= date(new Date(), 'YYYY') %> kuangzen.com | Hexo theme designed by Yilia.
    	</div>
    </div>
  </div>         
</footer>
